<div class="footer-container">
  <div class="up-part">
    <img 
    class="footLogo" 
    routerLink=""
    src="images/mainLogo.png"/>

    <button class="btn-contact" routerLink="contactus">Contact Us</button>

  </div>

  
    <div class="down-part">
      <div class="inner-down-container">
  <div class="first-part">
    <div class="phone-container">
    <div class="phone-sec">
        <img 
        class="phoneimg" 
      src="images/phone.png"/>
        <span class="number">+9610000000000</span>
    </div>
    <span class="number">+9610000000000</span>
 
    </div>
  
    <div class="email-container">
      <img 
      class="email" 
    src="images/email.png"/>
      <span class="emailtext">Labcore&#64;labcore.com</span>
  
  
  </div>

 
<div class="address-container">
  <div class="address-sec">
    <img 
    class="location" 
  src="images/location.png"/>
    <span class="addressText">123-adress-adress</span>

</div>
<span class="addressText">123-adress-adress</span>
</div>


  </div>


<div class="second-part">
 
    <a 
    routerLink="" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{ exact: true }"
    >Home</a>
    <a routerLink="aboutUs" 
    [routerLinkActive]="'active'" 
    [routerLinkActiveOptions]="{ exact: true }">About Us</a>
    <a 
    routerLink="partners" [routerLinkActive]="'active'" 
    [routerLinkActiveOptions]="{ exact: true }" >Partners</a>
     <a routerLink="services" 
    [routerLinkActive]="'active'" 
    [routerLinkActiveOptions]="{ exact: true }">Services</a>




</div>


<div class="third-part">
  <div class="line"></div>
    <span class="copyright hide">copyrights reserved &#64;Labcore</span>
    <p class="hide">Developed by <span class="update">Update Digital Marketing</span></p>
   
</div>

</div>


<div class="try">
  <span class="copyright">copyrights reserved &#64;Labcore</span>
    <p>Developed by <span class="update">Update Digital Marketing</span></p>
</div>

</div>




  

