
.partners-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2.3rem;
    margin-top:7.5rem;
}

span{
    font-weight: 700;
    font-size:48px;
    color: rgba(29, 64, 104, 1);
    font-family: "Open Sans", serif;
     word-spacing: 13px;
}

p{
    width:58%;
    text-align: center;
    font-weight: 700;
    font-size:20px;
    line-height:40px;
    color: rgba(29, 64, 104, 1);
    font-family: "Cairo", serif;
    
}

img{
    width:310px;
    height:310px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    margin-bottom:7px;
    
  
}

 .partners-container .images-container{

    width:80%;
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
    
    
    
}




/*/////////////////////////////////////////////////////////////////////////////////////////////*/


@media (max-width:1390px) {

    p{
        width:60%;
        
    }
}

@media (max-width:1335px) {

    p{
        width:63%;
        
    }
}

@media (max-width:1272px) {

    p{
        width:65%;
        
    }
}

@media (max-width:1239px) {
    p{
        width:72%;
        
    }
  
    .partners-container .images-container{

        width:100%;
        display: flex;
        gap:1.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        
        
        
    }
}

@media (max-width:1115px) {
    p{
        width:75%;
        
    }
}

@media (max-width:1071px) {
    p{
        width:78%;
        
    }
}


@media (max-width:1040px) {
    p{
        width:85%;
        
    }

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:2.3rem;
        margin-top:5.7rem;
    }
    

    img{
        width:300px;
        height:300px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:7px;
        
      
    }
    
     .partners-container .images-container{
    
        
        display: flex;
        gap:1.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      
        
        
        
        
    }
    
    


}

@media (max-width:1000px) {

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:2rem;
        margin-top:5rem;
    }
    

    span{
        font-weight: 700;
        font-size:40px;
        color: rgba(29, 64, 104, 1);
        font-family: "Open Sans", serif;
         word-spacing: 13px;
    }
    
    p{
        width:76%;
        text-align: center;
        font-weight: 700;
        font-size:18px;
        line-height:35px;
        color: rgba(29, 64, 104, 1);
        font-family: "Cairo", serif;
        
    }
    
    img{
        width:250px;
        height:250px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:3px;
        
      
    }
    
     .partners-container .images-container{
    
         display: flex;
        gap:1.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       
        
        
        
        
    }
    
    


}



@media (max-width:910px) {
    p{
        width:85%;
    }
}


@media (max-width:860px) {
    p{
        width:85%;
    }

    img{
        width:310px;
        height:310px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:5px;
        
      
    }

    
     .partners-container .images-container{
        width:90%;
        display: flex;
        gap:1.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1.7rem;
        margin-top:5rem;
    }
    

    span{
        font-weight: 700;
        font-size:40px;
        color: rgba(29, 64, 104, 1);
        font-family: "Open Sans", serif;
         word-spacing: 13px;
    }
    
    p{
        width:76%;
        text-align: center;
        font-weight: 700;
        font-size:17px;
        line-height:30px;
        color: rgba(29, 64, 104, 1);
        font-family: "Cairo", serif;
        
    }


}


@media (max-width:770px) {
   

    img{
        width:300px;
        height:300px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:5px;
        
      
    }

    
     .partners-container .images-container{
        width:100%;
        display: flex;
        gap:1.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      
    }

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1.7rem;
        margin-top:5rem;
    }
    

    span{
        font-weight: 700;
        font-size:40px;
        color: rgba(29, 64, 104, 1);
        font-family: "Open Sans", serif;
         word-spacing: 13px;
    }
    
    p{
        width:85%;
        text-align: center;
        font-weight: 700;
        font-size:17px;
        line-height:30px;
        color: rgba(29, 64, 104, 1);
        font-family: "Cairo", serif;
        
    }


}

@media (max-width:726px) {

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1.7rem;
        margin-top:5rem;
    }
}


@media (max-width:660px) {

    img{
        width:270px;
        height:270px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:3px;
        
      
    }

    .partners-container .images-container{
        width:100%;
        display: flex;
        gap:1.5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       margin-top:1rem;
    }

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1.3rem;
        margin-top:5rem;
    }


}

@media (max-width:600px) {

    img{
        width:250px;
        height:250px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:3px;
        
      
    }
}

@media (max-width:560px) {

    img{
        width:230px;
        height:230px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:3px;
        
      
    }
}

@media (max-width:520px) {

    img{
        width:210px;
        height:210px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:-2px;
        
      
    }

    p{
        width:90%;
    }

    .partners-container .images-container{
        width:100%;
        display: flex;
        gap:1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       margin-top:1rem;
    }
}

@media (max-width:460px) {

    img{
        width:180px;
        height:180px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:-2px;
        
      
    }

    p{
        width:90%;
    }

    .partners-container .images-container{
        width:100%;
        display: flex;
        gap:1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       margin-top:1rem;
    }
}

@media (max-width:423px) {
    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:15px;
        margin-top:5rem;
    }


}
@media (max-width:400px) {

    img{
        width:160px;
        height:160px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:-2px;
        
      
    }

  
    .partners-container .images-container{
        width:100%;
        display: flex;
        gap:1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       margin-top:1rem;
    }

    span{
        font-weight: 700;
        font-size:38px;
        color: rgba(29, 64, 104, 1);
        font-family: "Open Sans", serif;
         word-spacing: 13px;
    }
    
    p{
        width:90%;
        text-align: center;
        font-weight: 700;
        font-size:16px;
        line-height:28px;
        color: rgba(29, 64, 104, 1);
        font-family: "Cairo", serif;
        
    }


    
}


@media (max-width:380px) {

    img{
        width:150px;
        height:150px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:-2px;
        
      
    }

  
    .partners-container .images-container{
        width:100%;
        display: flex;
        gap:1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       margin-top:1rem;
    }

    span{
        font-weight: 700;
        font-size:36px;
        color: rgba(29, 64, 104, 1);
        font-family: "Open Sans", serif;
         word-spacing: 13px;
    }
    
    p{
        width:90%;
        text-align: center;
        font-weight: 700;
        font-size:14px;
        line-height:26px;
        color: rgba(29, 64, 104, 1);
        font-family: "Cairo", serif;
        
    }

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:15px;
        margin-top:5rem;
    }


    
}

@media (max-width:350px) {

    img{
        width:130px;
        height:130px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
        margin-bottom:-2px;
        
      
    }

    .partners-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:15px;
        margin-top:5rem;
    }

    
  
    .partners-container .images-container{
        width:100%;
        display: flex;
        gap:1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       margin-top:1rem;
    }

    span{
        font-weight: 700;
        font-size:36px;
        color: rgba(29, 64, 104, 1);
        font-family: "Open Sans", serif;
         word-spacing: 13px;
    }
    
    p{
        width:90%;
        text-align: center;
        font-weight: 700;
        font-size:14px;
        line-height:26px;
        color: rgba(29, 64, 104, 1);
        font-family: "Cairo", serif;
        
    }


    
}



