<div class="partners-container">
    <span>Our  Partners</span>
    <p>We proudly collaborate with world-class suppliers to bring you cutting-edge technology 
        and reliable laboratory solutions. Below are some of 
        our trusted partners who share our commitment to innovation and excellence</p>


        <div class="images-container">
            <div *ngFor="let image of partnersImages">
              <img [src]="image" alt="Partner Image" class="partner-image" />
            </div>
          </div>

</div>
