<div class="homeSectionTwo">
    <span class="title">Who We Are</span>

    <app-logodraw></app-logodraw>
    
    <div class="text-div">
        <p>
            At LabCore S.A.R.L, we specialize in delivering premium scientific instruments and lab technologies
            tailored to your needs. Backed by over 25 years of engineering expertise, we provide cutting-edge
            solutions to enhance laboratory performance. Our commitment lies in building lasting partnerships
            through exceptional service and world-class quality.
        </p>

    </div>

</div>
